.lato-thin {
    font-weight: 100;
    font-style: normal;
  }

body {
  height: 100%;
  width: 100%;
  font-family: Tahoma, Verdana, Segoe UI, sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: rgba(191, 191, 191);
  margin: 0%;
  padding: 0%;
}

  
  
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  

  color: rgb(0, 0, 0);
  background: rgba(191, 191, 191);
  box-shadow:
    6px 6px 20px rgba(0, 0, 0, 0.2),
    -6px -6px 20px rgba(255, 255, 255, 0.05);

  cursor: pointer;

  border-top: 1px solid #FFFFFF;   /* light */
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #ACA899; /* shadow */
  border-bottom: 1px solid #ACA899;

  box-shadow:
    inset 1px 1px 0 #FFFFFF,
    inset -1px -1px 0 #ACA899;
}



button:active {
  border-top: 1px solid #ACA899;
  border-left: 1px solid #ACA899;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: rgb(187, 187, 187);
  box-shadow:
    inset 1px 1px 0 #000000,
    inset -1px -1px 0 #ACA899;
}

.dropdown-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  

  color: rgb(0, 0, 0);
  background: rgb(232, 17, 17);
  box-shadow:
    6px 6px 20px rgba(0, 0, 0, 0.2),
    -6px -6px 20px rgba(255, 255, 255, 0.05);

  cursor: pointer;

  border-top: 1px solid #FFFFFF;   /* light */
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #ACA899; /* shadow */
  border-bottom: 1px solid #ACA899;

  box-shadow:
    inset 1px 1px 0 #FFFFFF,
    inset -1px -1px 0 #ACA899;
}

.dropdown-buton:active {
  border-top: 1px solid #ACA899;
  border-left: 1px solid #ACA899;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: rgb(187, 187, 187);;
}



#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.help-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 100;
  margin: 10px;
  gap: 20px;
}

.help-text-title {
  color: rgb(0, 0, 0); 
  justify-content: center; 
  text-align: center;
}

.help-text-important {
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
}

.progress-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 20px;
  margin: 15px 0;
  overflow: hidden;
  box-shadow:
    2px 2px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 8px rgba(255, 255, 255, 0.05);
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #a855f7, #7c3aed);
  transition: width 0.3s ease-in-out;
}

.dropdown-toggle {
  width: 200px;
  background-color: red;
  justify-content: center;
}



.window {
  height: 100%;
  width: 100%;
  border-top: 1px solid #FFFFFF;   /* light */
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #ACA899; /* shadow */
  border-bottom: 1px solid #ACA899;

  box-shadow:
    inset 1px 1px 0 #FFFFFF,
    inset -1px -1px 0 #ACA899;
}

.windowBorder {
  height: 30px;
  width: 94%;
  display: flex;
  align-items: center;
  background-color: rgba(1, 0, 127);
  margin: 2%;
  padding: 1%;
}

.windowBorderButtons {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: right;
  justify-content: right;
}

.windowTitle {
  width: min-content;
  height: min-content;
  color: white;
  font-family: "Microsoft Sans Serif", Tahoma, Verdana, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  margin: 0%;
  padding: 2%;
}