

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #241033;
    color: #333;
    
  }
  
  button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    6px 6px 20px rgba(0, 0, 0, 0.2),
    -6px -6px 20px rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow:
    8px 8px 24px rgba(0, 0, 0, 0.25),
    -8px -8px 24px rgba(255, 255, 255, 0.08);
  transform: scale(1.03);
}

.glass-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: none;
  color: white;
  box-shadow:
    6px 6px 15px rgba(0, 0, 0, 0.2),
    -6px -6px 15px rgba(255, 255, 255, 0.05);
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-circle:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
}